<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623491228919-noavss5jhi1hkrmijaka2qfo1chsconq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623491228919-noavss5jhi1hkrmijaka2qfo1chsconq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>623491228919-p1k33p6pj0kubqptkpaqc7irk69k2kgc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCm1tDlWv8jKK7zcWJwQQ53OaY7GaKtBM8</string>
	<key>GCM_SENDER_ID</key>
	<string>623491228919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vlad345406.flutterQualificationWork.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-qualification-work</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-qualification-work.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623491228919:ios:f6b7ce17ce0ac69c4b5ff2</string>
</dict>
</plist>